<nav class="nav-wrapper">
    <p class="nav-title">Quick links</p>
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        Overview
    </NavLink>
    <NavLink class="nav-link" href="search">
        Sailing search
    </NavLink>
    <NavLink class="nav-link" href="pricing">
        Pricing preview
    </NavLink>
    <NavLink class="nav-link" href="data-model">
        Data model
    </NavLink>
</nav>
