<nav class="nav-wrapper">
    <p class="nav-title">Quick links</p>
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        Overview
    </NavLink>
    <NavLink class="nav-link" href="search">
        Sailing search
    </NavLink>
    <NavLink class="nav-link" href="pricing">
        Pricing preview
    </NavLink>
    <NavLink class="nav-link" href="data-model">
        Data model
    </NavLink>

    <AuthorizeView Roles="Admin,Supervisor">
        <NavLink class="nav-link" href="diagnostics">
            API diagnostics
        </NavLink>
    </AuthorizeView>

    <div class="nav-auth">
        <AuthorizeView>
            <Authorized>
                <div class="nav-user">
                    <span>Hello, @context.User?.Identity?.Name</span>
                </div>
                <a class="nav-link" href="" @onclick="SignOut">Logout</a>
            </Authorized>
            <NotAuthorized>
                <NavLink class="nav-link" href="login">
                    Login
                </NavLink>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</nav>

@code {
    [Inject] private IAuthService AuthService { get; set; } = default!;
    [Inject] private NavigationManager Nav { get; set; } = default!;

    private async Task SignOut()
    {
        await AuthService.SignOutAsync();
        Nav.NavigateTo("login", forceLoad: true);
    }
}
